html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.questionGroup {
  width: 95%;
  display: inline-grid;
}

.deleteButton {
  position: absolute;
  right: 0;
  top: 0;
}

label.textareaLabel {
  font-weight: bold;
  display: block;
  padding: 2rem 0 0 0;
  margin-bottom: 0.5rem;
}

label textarea {
  margin-top: 1rem;
}

.accordion__button {
  width: 95% !important;
  position: relative;
}

.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred,
.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-focused {
  min-height: 400px;
}
